NODE_ENV=development
PORT=4000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=libas_e_haram

JWT_CUSTOMER_SECRET=change_me_customer_secret
JWT_ADMIN_SECRET=change_me_admin_secret
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=30d

COOKIE_DOMAIN=localhost

RESEND_API_KEY=re_your_api_key
EMAIL_FROM="Libas-e-Haram <orders@libaseharam.com>"
ADMIN_ALERT_EMAIL=info@libaseharam.com

CUSTOMER_APP_URL=http://localhost:5173
ADMIN_APP_PATH=/admin

UPLOAD_MAX_FILE_SIZE_MB=5
